@import "styles/settings/__settings";

.description {
  text-align: center;
  line-height: 1.5;
  font-size: 1.5rem;
}

.posts {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 20px;
  padding-left: 0;
  margin: -1rem 0;
  min-height: 600px;

  // & > li {
  //   margin: 4em 0;

  //   &:first-child {
  //     margin-top: 0;
  //   }

  //   &:last-child {
  //     margin-bottom: 0;
  //   }
  // }
}


@media screen and (max-width: 768px) {

  .posts {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 10px;
    padding-left: 0;
    margin: -1rem 0;
    min-height: 600px;
  }
}
