@import "styles/settings/__settings";

.footer {
  width: 100%;
  border-top: 1px solid $color-gray-100;
  margin-top: 20px;
}

.footerMenu {
  // margin: 2rem 0;
  background-color: $color-gray-900;

  ul {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    margin-bottom: 0;
  }
}

.footerMenuColumns {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  @media (min-width: 480px) {
    justify-content: center;
  }

  & > li {
    max-width: 15em;
    margin: 2rem 0;
  }
}

.footerMenuTitle {
  display: inline-block;
  color: $color-gray-200;
  font-size: 1.6rem;
  font-family: $font-family-heading;
  text-decoration: none;
  margin-bottom: 1.4em;
  margin-top: 0;
  padding: 0 !important;
}

.footerMenuItems {
  li {
    margin-bottom: 1em;

    &:last-child {
      margin-bottom: 0;
    }
  }

  a {
    display: block;
    overflow: hidden;
    // color: $color-gray-600;
    color: $color-gray-50;
    text-decoration: none;
    white-space: pre-wrap;
    text-overflow: ellipsis;

    @media (hover: hover) {
      &:hover {
        // color: $color-primary;
        text-decoration: underline;
      }
    }
  }
}

.footerLegal {
  color: $color-gray-50;
  background-color: $color-gray-900;
  border-top: 1px solid #838383;
  padding: 0.8rem 0;
  margin: 0;

  p {
    font-size: 0.9em;
    text-align: center;
    margin: 0;
  }
}


@media (max-width: 880px) {

  
  .footerMenu {

    ul {
      list-style: none;
      padding: 0;
      display: flex;
      flex-direction: column;
    }
  }


  .footerMenuColumns {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  
    @media (min-width: 480px) {
      justify-content: center;
    }
  
    & > li {
      max-width: 99%;
      padding: 0 2rem;
      text-align: center;
    }
  }
}